* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

/* Elementos Raiz */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 2px solid black;
    padding: 10px;
}

/* Elementos Abuelos */
#section-update-profile  #form-update-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* Elementos Padres */
#container-image {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

#container-email {
    width: 100%;
}

#container-buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    column-gap: 10px;
    display: none;
}

/* Elementos Hijos */
#icon-user {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

#icon-edit {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 30%;
    cursor: pointer;
}

button {
    width: 40%;
    height: 40px;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-update {
    background-color: #323841;
    color: white;
}

#btn-delete {
    background-color: red;
    color: white;
}

input {
    width: 100%;
    height: 40px;
    color: black;
    border: none;
    border-bottom: 3px solid black;
    font-size: 1rem;
    padding: 10px;
    transition: all 0.3s ease;
}

/* efectos */
#btn-update:hover {
    background-color: black;
    color: white;
}

#btn-delete:hover {
    background-color: rgb(182, 7, 7);
}

input:focus {
    outline: none;
    border-bottom:3px solid #4d545e;
}

input::placeholder {
    color: black;
}

dialog {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
    font-size: 1.2rem;
    word-wrap: break-word;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

dialog p {
    font-size: 1.2rem;
    word-wrap: break-word;
}

dialog #btn-ok-update {
    background-color: #323841;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 50%;
    transition: background-color 0.3s ease;
}

#btn-ok-update:hover {
    background-color: black;
}