<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/profile.css">
    <title>Document</title>
</head>

<body>
    <main>
        <section id="section-update-profile">
            <form id="form-update-profile">
                <div id="container-image">
                    <img src="/img/icon-user.png" alt="User's profile picture" id="icon-user">
                    <img src="/img/edit.png" alt="Edit icon" id="icon-edit">
                </div>

                <div id="container-data">
                    <input type="text" id="input-name" placeholder="Nombre" class="input">
                    <input type="text" id="input-last-name" placeholder="Apellido" class="input">
                </div>

                <div id="container-email">
                    <input type="text"  id="input-email" placeholder="Email" class="input">
                </div>

                <div id="container-buttons">
                    <button id="btn-delete">Cancelar</button>
                    <button id="btn-update" type="submit">Actualizar Perfil</button>
                </div>
            </form>
        </section>
    </main>

    <dialog id="dialog-update-profile">
        <p>Su perfil ha sido actualizado exitosamente.</p>
        <button id="btn-ok-update">Ok</button>
    </dialog>

    <script src="/scripts/script.js"></script>
</body>

</html>