<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/yourPost.css">
    <title>Document</title>
</head>

<body>
    <main id="container-your-posts">
        <h1 id="error-message"></h1>
    </main>

    <dialog id="dialog-delete">
        <p id="dialog-message-delete">¿Estás seguro de que quieres eliminar este post?</p>
        <div id="container-buttons-dialog-delete">
            <button id="btn-ok">Si</button>
            <button id="btn-cancel">No</button>
        </div>
    </dialog>

    <script src="/scripts/script.js"></script>
</body>
</html>